{
  "rooms": [
    {
      "mount": "quasel",
      "name": "Quasel-Ecke",
      "email": "tx-quasel@example.org",
      "password": "PASSWORT",
      "callsign": "TX-Quasel"
    },
    {
      "mount": "eickelborn_ch74",
      "name": "Eickelborn-CH74",
      "email": "tx-eickelborn_ch74@example.org",
      "password": "PASSWORT",
      "callsign": "TX-CH74"
    },
    {
      "mount": "eickelborn",
      "name": "Eickelborn-Freenet",
      "email": "tx-eickelborn@example.org",
      "password": "PASSWORT",
      "callsign": "TX-Eickelborn"
    }
  ]
}
